  .linksDrawer {
    padding-top: var(--mantine-spacing-lg);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-primary-3));
  }

  .menuSection {
    flex: 1;
    overflow-y: auto;
    margin-bottom: var(--mantine-spacing-sm);
  }
  
  .mainLink {
    border-radius: 20px;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
    padding: 7px var(--mantine-spacing-sm);
    font-weight: 600;
    border: 2px solid transparent;
    background-color: var(--mantine-color-primary-1);
    transition:
      border-color 200ms ease,
      background-color 200ms ease,
      color 200ms ease;

    @mixin hover {
      background-color: var(--mantine-color-primary-2);
      color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
      text-decoration: none;
    }

    &[data-active] {
      color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
      border-color: var(--mantine-color-primary-4);
    }
  }

  .logoutLink {
    border-radius: 20px;
    font-size: var(--mantine-font-size-sm);
    padding: 7px var(--mantine-spacing-sm);
    font-weight: 600;
    border: 2px solid transparent;
    color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-0));
    background-color: light-dark(var(--mantine-color-red-0), var(--mantine-color-red-9));
    transition:
      background-color 200ms ease,
      color 200ms ease;

    @mixin hover {
      background-color: light-dark(var(--mantine-color-red-1), var(--mantine-color-red-8));
      text-decoration: none;
    }
  }

  .userButton {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-white));
    border-radius: var(--mantine-radius-lg);
    transition: background-color 200ms ease;
    cursor: pointer;
    width: 100%;
  }

  .userButton:hover {
    background-color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-4));
  }

  .userButtonChevron {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-gray-5));
    transition: transform 200ms ease;
  }

  .userButton:hover .userButtonChevron {
    transform: translateX(2px);
  }

  .footer {
    flex-shrink: 0;
    border-top: 1px solid light-dark(var(--mantine-color-primary-1), var(--mantine-color-primary-7));
    padding-top: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-xs);
  }
  