.content {
  max-width: 550px;
  margin-right: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  padding: var(--mantine-spacing-xl);
  padding-bottom: 0;

  @media (max-width: $mantine-breakpoint-md) {
    padding: var(--mantine-spacing-md);
    padding-bottom: 0;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-sm);
    padding-bottom: 0;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding: var(--mantine-spacing-xs);
    padding-bottom: 0;
  }
}

.image {
  width: 300px;
  height: 356px;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.imageFlexRow {
  display: flex;
  justify-content: center;
  margin-top: var(--mantine-spacing-md);
}

.mobileImage {
  display: none;
  
  @media (max-width: $mantine-breakpoint-md) {
    display: block;
    width: 300px;
    height: 250px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 225px;
    height: 200px;
  }
} 