/* Desktop controls - only visible on larger screens */
.desktopControls {
  display: none;
}

@media (min-width: $mantine-breakpoint-sm) {
  .desktopControls {
    display: block;
    margin-top: 2rem;
  }
}

.controls {
    display: flex;
  }
  
  .content {
    width: 100%;
    margin-right: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
      margin-right: 0;
    }
  }
  
  .title {
    padding: calc(var(--mantine-spacing-xl));
  
    @media (max-width: $mantine-breakpoint-md) {
      padding: calc(var(--mantine-spacing-md));
    }

    @media (max-width: $mantine-breakpoint-sm) {
      padding: calc(var(--mantine-spacing-sm));
    }

    @media (max-width: $mantine-breakpoint-xs) {
      padding: calc(var(--mantine-spacing-xs));
    }
  }

.controlsBackground {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    padding: 15px;
    border-radius: 35px;
    background-color: var(--mantine-color-primary-1);
}

.slider {
    margin-bottom: 10px;
}

.markLabel {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
}

.track {
    background-color: var(--mantine-color-primary-1);
}

.timelineLabel {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-2));
    font-size: 11pt;
    font-weight: 400;
}

.bulletText {
    color: light-dark(var(--mantine-color-primary-1), var(--mantine-color-white));
    font-weight: 1000;
    font-size: var(--mantine-font-size-xl);
}

.flexRow {
  display: flex;
  width: 100%;
  align-items: center;
}

.image {
  width: 376px;
  height: 300px;

  @media (max-width: $mantine-breakpoint-md) {
    width: 300px;
    height: 250px;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 225px;
    height: 200px;
  }
}

.imageFlexRow {
  display: flex;
  justify-content: center;
}

.timeInputLabel {
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-3));
}

.timeInput {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
}

.timeInputSection {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-5));
}