.controls {
  display: flex;
}

.inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: calc(var(--mantine-spacing-xl));

  @media (max-width: $mantine-breakpoint-md) {
    padding: calc(var(--mantine-spacing-md));
  }

  @media (max-width: $mantine-breakpoint-xs) {
    padding: calc(var(--mantine-spacing-xs));
  }
}

.content {
  width: 100%
}

.infoRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: var(--mantine-radius-lg);
  background-color: light-dark(var(--mantine-color-primary-0), var(--mantine-color-primary-4));
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Poppins, sans-serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 24px;
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.highlight {
  position: relative;
  background-color: var(--mantine-color-blue-light);
  border-radius: var(--mantine-radius-sm);
  padding: 4px 12px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
  flex-basis: stretch;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.submitRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: end;
  width: 100%;
  padding-top: 0px;

  @media (max-width: $mantine-breakpoint-md) {
    padding-top: 0px;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    align-items: stretch;
  }

  @media (max-width: $mantine-breakpoint-xs) {
      padding-top: 0px;
  }
}

.submitButton {
  margin-top: 10px;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }
}

.pill {
  background-color: var(--mantine-primary-color-4);
  color: var(--mantine-color-white);
  font-weight: 600;
}

.description {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-2));
}

.input {
  &:not(:only-child)::placeholder {
    color: transparent;
  }
}

.options {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.label {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}