.root {
    padding: calc(var(--mantine-spacing-xl) * 2.5) var(--mantine-spacing-lg);

    background-color: #fff5f5;

    @media (max-width: 48em) {
        padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-md);
    }
}

.title {
    font-family: var(--mantine-font-family-headings);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: var(--mantine-spacing-xs);
    color: var(--mantine-color-dark-7);
    text-align: center;
    text-wrap: balance;

    @media (max-width: 48em) {
        font-size: 24px;
    }
}

.subtitle {
    color: var(--mantine-color-gray-7);
    font-size: 16px;

    @media (max-width: 48em) {
        font-size: 15px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
}