.flexRowEnd {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  width: 100%;
  align-items: end;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
      align-items: stretch;
  }
}
