.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: stretch;
  width: 100%;
  flex-basis: stretch;
  flex-wrap: wrap;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
      align-items: stretch;
  }
}