.root {
    display: flex;
    background-color: var(--mantine-color-pink-0);
    border-radius: var(--mantine-radius-xl);
    flex-basis: content;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    max-width: 1100px;
    justify-content: space-between;
    flex-direction: row;
    padding: calc(var(--mantine-spacing-xl));
    position: relative;
  
    @media (max-width: $mantine-breakpoint-md) {
      padding: calc(var(--mantine-spacing-md));
    }

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column;
        border: 0px;
    }
  }
  
  .title {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: var(--mantine-spacing-md);
    font-family:
      "Greycliff CF",
      var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 32px;
    }
  }
  
  .control {
    @media (max-width: $mantine-breakpoint-sm) {
      width: 100%;
    }
  }
  
  .imageFlexRow {
    display: flex;
    justify-content: center;
  }
  
  .mobileImage {
    width: 250px;
    height: 250px;

    @media (min-width: 48em) {
      display: none;
    }
  }
  
  .desktopImage {
    width: 350px;

    @media (max-width: 47.99em) {
      display: none;
    }
  }