.flexRowEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
      flex-direction: column;
  }
}

.form {
  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}