.wrapper {
    min-height: 400px;
    background-color: var(--mantine-color-pink-0);
    border-radius: var(--mantine-radius-xl);
    padding: calc(var(--mantine-spacing-xl));
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  
    @media (max-width: $mantine-breakpoint-sm) {
      padding: var(--mantine-spacing-lg);
    }
  }
  
  .title {
    color: var(--mantine-color-pink-4);
    font-size: 44px;
    line-height: 1.2;
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 32px;
    }
  }
  
  .description {
    color: var(--mantine-color-gray-7);
    max-width: 300px;
    font-weight: 600;
  
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 100%;
    }
  }
  
  .form {
    background-color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xl);
    border-radius: var(--mantine-radius-lg);
    box-shadow: var(--mantine-shadow-sm);
  }
  
  .social {
    color: var(--mantine-color-gray-8);
  
    @mixin hover {
      color: var(--mantine-color-pink-1);
    }
  }
  
  .input {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-4);
    color: var(--mantine-color-black);
  
    &::placeholder {
      color: var(--mantine-color-gray-5);
    }
  }
  
  .inputLabel {
    color: var(--mantine-color-black);
  }
  
  .control {
    background-color: var(--mantine-color-pink-5);
  }