:root {
    --bottom-bar-height: 70px;
    --header-overlay-height: 64px;
}

#root {
    background-color: light-dark(#ffeae6, #121212);
}

body {
    background-color: light-dark(#ffeae6, #121212);
}
